header {
	display: flex;
	.content-wrapper;
	// width: 100%;
	.titles {
		flex-grow: 1;

		h1 {}
		h2 {
			font-size: 18px;
			display: inline;
		}

		.menu-icon {
			align-self: flex-end;
			float: right;
			font-size: 18px;
			display: inline;
			h4 {
				margin: 0;
				display:inline;
			}
			.fa-bars {
				color: #000;
				
			}
		}
	}

	nav {
			position:fixed;
			top:0;
			left:0;
			width:100vw; 
			height: 100%;
			background: #fff;
			z-index: 999;
			display: none;

		.fa-times {
			font-size: 30px;
			margin: 20px 20px 0;
		}	
		ul {
			// width: 100%;
			padding-left: 0;
			// display: none;
			// margin-left: 100%;

			li {
				list-style: none;
				font-size: 20px;
				text-align: center;
				// display: inline-block;
				padding: 5vh 0;
				a {
					// set to default color
					color: #000;
					text-decoration: none;
				}
			}
		}
	}
}
